*{
  font-size:1.02em;
}
table{
  width: 100%;
}
th{
  background-color: black;
  color:white;
}
th,td{
  padding:7px;
  text-align: center;
}
tr:nth-child(even){
  background-color: rgb(200, 185, 185);
}
.valorTotal{
  background-color: rgb(200, 185, 185);
  font-weight: bold;
}